<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div style="margin-top: 30px; margin-left: 30px; font-size: 50px;">Create User</div>
    <form action="/create_user" method="post" style="margin-top: 20px;margin-left: 30px;" enctype="multipart/form-data">
        <input type="text" placeholder="Enter name" name="name" style="display: block; height: 50px;width: 350px; border-radius: 15px;border: none;">
        <input type="file" style="display: block;margin-top: 20px;" name="image">
        <input type="submit" style="margin-top: 20px; display: block; height: 50px;width: 200px; border-radius: 15px;border: none;background-color: blue;color: white;font-size: 17px;">
    </form>
</body>
</html>